<%- contentFor('body') %>

<script src="javascripts/mqtt.js"> </script>
<script>
    $(document).ready(function(){
      $(".dropdown-toggle").dropdown();
      

      // // $("#connect").click(function(){
      //   sendMQTT('hello world!');
      // })
      $('#selScopeDome').on('change',function(){
        var selScopeDome = $(this).val();
        var data = { status: true, device: "scopedome", command : "select" , message: selScopeDome};
        sendMQTT('scopedome', data);

      })
      
      $('#sateIdDownload').on('click',function(){
        var sateId = $('#satId').val();
        var data = { status: true, device: "setting", command : "download" , message: sateId};
        sendMQTT("setting", data);
      })
    });
    
    
    function outputTerminal(obj){
      var comment = $("#comment");
      if(obj.status == true){
        comment.append("Output [ " + obj.device + " ]>> " + obj.message + "&#10;");
      }else{
        comment.append("Output [ " + obj.device + " ]>> Failed, " + obj.message + "&#10;");
      }
      if(comment.length)
      comment.scrollTop(comment[0].scrollHeight - comment.height());

    }
    
    function EventToWindowsApp(device, command){
      var message = "";
      var data = { status: true, device: device, command : command , message: message};
      sendMQTT(device, data);
    }

</script>

<div class="container">
    <h2>Scope Dome</h2>

    <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="selScopeDome">
        <option>ASCOM.Simulator.Dome</option>
        <option>ASCOM.ScopeDomeUSBDome.Dome</option>
      </select>
    <br><br>

    <button onclick="EventToWindowsApp('scopedome', 'connect')" type="button" class="btn btn-success">Connect</button>
    <button onclick="EventToWindowsApp('scopedome', 'disconnect')" type="button" class="btn btn-warning">Disconnect</button>
    <button onclick="EventToWindowsApp('scopedome', 'track')" type="button" class="btn btn-default">Track</button>
    <button onclick="EventToWindowsApp('scopedome', 'ccw')" type="button" class="btn btn-default">CCW</button>
    <button onclick="EventToWindowsApp('scopedome', 'cw')" type="button" class="btn btn-default">CW</button>
    <button onclick="EventToWindowsApp('scopedome', 'home')" type="button" class="btn btn-primary">Home</button>
    <button onclick="EventToWindowsApp('scopedome', 'stop')" type="button" class="btn btn-danger">Stop</button>
    <button onclick="EventToWindowsApp('scopedome', 'park')" type="button" class="btn btn-info">Park</button>
    <button onclick="EventToWindowsApp('shutter', 'open')" type="button" class="btn btn-default">Shutter Open</button>
    <button onclick="EventToWindowsApp('shutter', 'close')" type="button" class="btn btn-default">Shutter Close</button>


    <h2>Telescope</h2>
    <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1">
        <option>ASCOM.Simulator.Telescope</option>
        <option>ASCOM.PWI4.Telescope</option>
      </select>
      <br><br>
    <button onclick="EventToWindowsApp('telescope', 'connect')" type="button" class="btn btn-success " id="conTelescope">Connect</button>
    <button onclick="EventToWindowsApp('telescope', 'disconnect', 'telescope')" type="button" class="btn btn-warning" id="disTelescope">Disconnect</button>
    <button onclick="EventToWindowsApp('telescope', 'track', 'telescope')" type="button" class="btn btn-default" id="trackTelescope">Track</button>
    <button onclick="EventToWindowsApp('telescope', 'home', 'telescope')" type="button" class="btn btn-primary" id="homeTelescope">Home</button>
    <button onclick="EventToWindowsApp('telescope', 'stop', 'telescope')" type="button" class="btn btn-danger" id="stopTelescope">Stop</button> 
    <br><br>
    <div class="form-group">
      <label for="usr">Satellite ID:</label>
      <input type="text" class="form-control" id="satId">
      <br>
      <button  type="button" class="btn btn-primary" id="sateIdDownload">Download</button> 
    </div>
</div>



<%- contentFor('footer') %>
<div class="container">
    <h2>Terminal</h2>
    <form>
      <div class="form-group">
        <label for="comment">Output:</label>
        <textarea disabled class="form-control disable" rows="30" id="comment"></textarea>
      </div>
    </form>
  </div>
  